<form action="/shops/<%= @shop.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit shop:</p>
  <input type='text' name='shop[name]' id='name' value="<%= @shop.name %>"/></br>
  <p>What is this shop's current revenue?</p>
  <input type='text' name='shop[revenue]' id='revenue' value="<% @shop.revenue %>" /></br>
  <label for='shop[liquor_license]'>Check this box if this shop has a liquor license:</label></br>
  <input type='checkbox' name='shop[liquor_license]' id='license' <% if @shop.liquor_license %> checked <% end %>/></br>
  <button type='submit' id='create_button'>Update Shop</button>
</form>
