<h1>New <%= @manufacturer.name %> Disc</h1>

<form action="/manufacturers/<%= @manufacturer.id %>/discs" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="form_name">Name: </label>
  <input type="text" name="disc[name]" id="form_name">"><br>
  <label for="form_max_weight">Max Weight: </label>
  <input type="number" name="disc[max_weight]" id= "form_max_weight" min="0" max="200"><br>
  <input type="checkbox" name="disc[in_production]" id="form_in_production">
  <label for="form_in_production"> Currently in production?</label><br>
  <button name="submit" type="submit">Create Disc</button>
</form>
