<h1>Disc Golf Disc Manufacturers</h1>

<% @manufacturers.each do |manufacturer| %>
  <h3><%= manufacturer %></h3>
<% end %>

<p><a href="/manufacturers/new">Create New Manufacturer</a></p><br>

<footer><a href="/">Home</a></footer>
