<h1>New Manufacturer</h1>

<form action="/manufacturers" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new manufacturer:</p>
  <label for="name">Name: </label>
  <input type="text" name="manufacturer[name]" id="name"><br>
  <label for="founded_in">Year Founded: </label>
  <input type="number" name="manufacturer[founded_in]" id= "founded_in" min="1900" max="<%= Date.today.year %>"><br>
  <input type="checkbox" name="manufacturer[in_business]" id="in_business">
  <label for="in_business"> Currently in business?</label><br>
  <button name="submit" type="submit">Create Manufacturer</button>
  <%# <input type="button" name="submit" value="Create Manufacturer"> %>
</form>
